<!-- <div mat-dialog-title class="dialog-title d-flex justify-content-between">
</div> -->

<mat-toolbar
  mat-dialog-title
  class="dialog-title d-flex justify-content-between"
  color="basic"
>
  <span>{{ ctx.entityLabel }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div>
  <d-form
    #df
    [entityName]="'todo'"
    [initialValue]="ctx.row"
    [useContext]="'UPDATE'"
    (submitEvent)="onSave($event)"
  >
    <button *dfButton class="btn btn-success" type="submit">save</button>
    <button
      *dfButton
      class="btn btn-success"
      type="button"
      (click)="onCancel()"
    >
      cancel
    </button>
  </d-form>
</div>
