<div mat-dialog-title class="dialog-title">
  <h2 mat-dialog-title>
    {{ actionSpec?.action + " " + actionSpec?.entityLabel }}
  </h2>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptates
  numquam minus iusto, nulla, voluptatibus minima, tempora quae iure quos veniam
  inventore nesciunt excepturi blanditiis amet consectetur? Magni, ex
  blanditiis?
</div>
